@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet")
body{
	font-family: 'Roboto', sans-serif;
}
*{
	margin:0;
	padding:0;
	list-style:none;
	test-coration:none;
}
.sidebar{
	position:fixed;
	left:-200px;
	width:250;
	height:100%;
	background:#E45454;
}
.sidebar header{
	front-size:22px;
	color: white;
	text-align: centre;
	line height :50px;
	background:#FFFFFF;
}
.sidebar a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 60px;
	front-size: 15px;
	color: white;
	padding-left :40 px
	transition:.4s;
}